@tailwind base;
@tailwind components;
@tailwind utilities;

// ========-====-====-====-============ ========-====-====-====-============
// Text styles ========-====-====-====-============
// ========-====-====-====-============ ========-====-====-====-============
._font_base {
	color: #777777;
}
._Montserrat {
	font-family: Montserrat, Arial, sans-serif;
}
._Helvetica {
	font-family: Helvetica, Arial, sans-serif;
}

p {
	@apply _font_base _Montserrat;
	font-size: 18px;
	font-weight: normal;
	line-height: 10%;
}
.p-bold {
	@apply _font_base _Montserrat;
	font-size: 18px;
	font-weight: bold;
	line-height: 10%;
}

h1 {
	@apply _font_base _Helvetica;
	font-size: 123.36px;
	font-weight: 800;
	line-height: 108%;
}
h2 {
	@apply _font_base _Helvetica;
	font-size: 47.12px;
	font-weight: bold;
	line-height: 108%;
}
h3 {
	@apply _font_base _Helvetica;
	font-size: 29.12px;
	font-weight: normal;
	line-height: 140%;
}

.link {
	color: blue;
	&:hover {
		color: cyan;
	}
}
.interactible {
	color: red;
	&:hover {
		color: pink;
	}
}
